{% extends "base.html" %}
{% block title %}About - {{ SITENAME }}{% endblock %}
{% block content %}

<h1 class="bottom-big">About</h1>
<p>Thoughts, notes, and incoherent words by <a href="https://wallyjones.com">Wally Jones</a>.</p>
<p>
  {% for article in articles %}
  {% if loop.first %}
  <a href="/{{ article.url }}">{{ article.title }}</a> is my most recent post.</p>
{% endif %}
{% endfor %}
<p>If you're curious about the name Nil, well, there's nothing particularly interesting behind it. Naming things is just <a href="https://twitter.com/codinghorror/status/506010907021828096">difficult</a>.</p>

{% endblock %}

